<footer class="w-full bg-gray-50 dark:bg-[#0d1320] py-4 sm:py-6 border-t border-gray-200 dark:border-none shadow-md dark:shadow-none">
  
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      
      <div class="flex flex-col sm:flex-row justify-between items-center space-y-2 sm:space-y-0">
        
        <div class="text-sm text-zinc-700 dark:text-zinc-200 order-2 sm:order-1">
          © {{ currentYear }} Sahil Nair. All rights reserved.
        </div>
        
        <div class="text-xs text-zinc-600 dark:text-zinc-300 order-1 sm:order-2">
          Built with 
          <span class="font-semibold text-indigo-700 dark:text-cyan-300">Angular</span>, 
          <span class="font-semibold text-emerald-700 dark:text-emerald-300">Node.js</span>, 
          and 
          <span class="font-semibold text-sky-700 dark:text-sky-300">Tailwind CSS</span>
        </div>
        
      </div>
      
    </div>
  </footer>