<app-navbar></app-navbar>

<div class="min-h-screen flex flex-col"> 
  <main class="flex-grow"> 
    <section class="min-h-screen flex items-center justify-center px-4">
      <app-about-card></app-about-card>
    </section>
    
    <app-about-section></app-about-section>
    <app-work-experience></app-work-experience>
    <app-featured-projects></app-featured-projects>
    <app-skills></app-skills>
    <app-edu-cert-lang></app-edu-cert-lang>
    <app-get-in-touch></app-get-in-touch> 
  </main>
  
  <app-footer></app-footer>
</div>